@page
@*@model Mission9_Bookstore.Pages.PurchaseConfirmationModel*@
@{
}

<div class="text-center">
    <h2>Your order has been confirmed. Thank you for your purchase.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>